MONGO_URI=mongodb://mongodb:27017
MONGO_DB_NAME=allora_auth

JWT_SECRET=change_this_secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

REFRESH_TOKEN_EXPIRE_DAYS=30
VERIFICATION_CODE_EXPIRE_MINUTES=10
DEV_RETURN_CODES=false
