MONGO_URI=mongodb://mongodb:27017
MONGO_DB_NAME=allora_auth
CHAT_MONGO_DB_NAME=allora_chat

REDIS_URL=redis://redis:6379/0

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
CHAT_EVENTS_EXCHANGE=allora.chat.events

CHAT_SERVICE_URL=http://chat-service:8000

JWT_SECRET=change_this_secret
JWT_ALGORITHM=RS256
JWT_EXPIRE_MINUTES=60
JWT_ISSUER=auth-service
JWT_KEY_ID=allora-auth-key-1

REFRESH_TOKEN_EXPIRE_DAYS=30
VERIFICATION_CODE_EXPIRE_MINUTES=10
DEV_RETURN_CODES=false

MATCHES_SERVICE_URL=http://match-service:8002